body {
    position: relative;
    width: 1440px;
    height: 7557px;
    background: #FFFFFF;
}

.Navbar {
    position: fixed;
    width: 1440px;
    height: 144px;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-color: white;
}

.container-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    
    position: absolute;
    width: 1194px;
    height: 72px;
    left: 123px;
    top: 0px;

}

.seperator {
    position: absolute;
    width: 1440px;
    height: 0px;
    left: 0px;
    top: 77px;
    border: 1px solid #DFDFE0;
}

.logo {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 119px;
    height: 28px;
    left: 0px;
    top: 22px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo-img {
    position: absolute;
    height: 28px;
    width: 28px;
    left: 0;
    top: 0px;
    background: url("icon-512 2.png");
    transform: matrix(-1, 0, 0, 1, 0, 0);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo-content {
    position: absolute;
    height: 23px;
    width: 91px;
    left: 37px;
    top: 2.5px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.searchBox {
    position: absolute;
    left: 159px;
    top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 22px;
    gap: 10px;

    width: 530px;
    height: 48px;

    /* Light/Neutral Secondary */

    background: #F0F1F2;
    border-radius: 30px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}

.searchIcon {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 22px;
    top: 16px;
    background: url("search-normal.png");
}

.searchText {
    position: absolute;
    letter-spacing: 0em;
    height: 15px;
    width: 120px;
    left: 48px;
    top: 16.5px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #9A9EA6;
}

.language {
    position: absolute;
    height: 20px;
    width: 167px;
    left: 729px;
    top: 26px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;    
}

.language-icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: url("language.png");
}

.language-box {
    position: absolute;
    height: 18px;
    width: 119px;
    left: 26px;
    top: 1px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    /* Light/Text */
    
    color: #9A9EA6;

}

.language-choose-arrow {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 151px;
    top: 2px;
    border-radius: 0px;

    background: url(arrow.png);
}

.location {
    position: absolute;
    height: 48px;
    width: 258px;
    left: 936px;
    top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

}

.location-btn {
    position: absolute;
    height: 48px;
    width: 48px;
    left: 0px;
    top: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* Light/Secondary */

    background: #E3EBFD;
    border-radius: 30px;

}

.location-btn-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 14px;
    top: 14px;
    border-radius: 0px;

    background: url("location.png");
}

.location-text {
    position: absolute;
    height: 37px;
    width: 198px;
    left: 60px;
    top: 5.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
}

.location-text .text-1 {
    height: 15px;
    width: 37px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #9A9EA6;
}

.location-text .text-2 {
    position: absolute;
    height: 20px;
    width: 198px;
    left: 0px;
    top: 17px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
}

.location-text .text-2 .text {
    width: 174px;
    height: 20px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #4475F2;

}

.location-text .text-2 .icon {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 178px;
    top: 0px;
    border-radius: 0px;

    background: url(arrow_blue.png);
}

.container-2 {
    position: absolute;
    height: 66px;
    width: 1196px;
    left: 122px;
    top: 78px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.categories {
    position: absolute;
    height: 18px;
    width: 1092px;
    left: 0px;
    top: 24px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: #9A9EA6;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}

.categories .Item1 {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 77px;
    height: 18px;   
}

.categories .Icon1 {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 61px;
    top: 1px;
    border-radius: 0px;
    
    background: url(arrow-down.png);
}

.categories .Item2 {
    position: absolute;
    height: 18px;
    width: 65px;
    left: 117px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
}

.categories .Icon2 {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 49px;
    top: 1px;
    border-radius: 0px;

    background: url(arrow-down.png);
}

.categories .Item3 {
    position: absolute;
    height: 18px;
    width: 69px;
    left: 222px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
}

.categories .Icon3 {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 53px;
    top: 1px;
    border-radius: 0px;
    
    background: url(arrow-down.png);
}
.categories .Item4 {
    position: absolute;
    height: 18px;
    width: 86px;
    left: 331px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
}

.categories .Icon4 {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 70px;
    top: 1px;
    border-radius: 0px;    
    background: url(arrow-down.png);
}

.categories .Item5 {
    position: absolute;
    height: 18px;
    width: 74px;
    left: 457px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
}

.categories .Icon5 {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 58px;
    top: 1px;
    border-radius: 0px;
    background: url(arrow-down.png);
}

.categories .Item6 {
    position: absolute;
    height: 18px;
    width: 76px;
    left: 571px;
    top: 0px;
    border-radius: 0px;    
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
}

.categories .Icon6 {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 60px;
    top: 1px;
    border-radius: 0px;
    background: url(arrow-down.png);
}

.categories .Item7 {
    position: absolute;
    height: 18px;
    width: 87px;
    left: 687px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
}

.categories .Icon7 {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 71px;
    top: 1px;
    border-radius: 0px;
    background: url(arrow-down.png);
}

.categories .Item8 {
    position: absolute;
    height: 18px;
    width: 58px;
    left: 814px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
}

.categories .Icon8 {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 42px;
    top: 1px;
    border-radius: 0px;
    background: url(arrow-down.png);
}

.categories-btn {
    position: absolute;
    height: 48px;
    width: 104px;
    left: 1092px;
    top: 9px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.categories-btn .cart {
    height: 48px;
    width: 48px;
    left: 0px;
    top: 0px;
    border-radius: 30px;
    
    background: url(Cart.png);
}

.categories-btn .profile {
    position: absolute;
    height: 48px;
    width: 48px;
    left: 56px;
    top: 0px;
    border-radius: 30px;

    background: url(profile.png);

}

.hero img {
    position: absolute;
    height: 707px;
    width: 693px;
    left: 718px;
    top: 182px;
    border-radius: 0px;

}

.main-desc {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
}
.main-desc .heading {
    position: absolute;
    height: 267px;
    width: 658px;
    left: 127px;
    top: 259px;
    font-weight: 800;
    font-size: 76px;
    line-height: 89px;
    letter-spacing: -0.04em;
    color: #181E4B;
}

.main-desc .heading strong {
    color: #4475F2;
}

.main-desc p {
    position: absolute;
    height: 90px;
    width: 477px;
    left: 125px;
    top: 556px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
}

.main-desc .tagline {
    position: absolute;
    height: 18px;
    width: 252px;
    left: 147px;
    top: 219px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #4F7DF3;
}

.main-desc .rectangle {
    position: absolute;
    height: 36px;
    width: 299px;
    left: 125px;
    top: 211px;
    border-radius: 39px;
    background-color: #E5EDFF;
}

.cta .text {
    position: absolute;
    height: 20px;
    width: 163.05882263183594px;
    left: 142px;
    top: 700px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.cta .background {
    position: absolute;
    width: 198px;
    height: 60px;
    left: 125px;
    top: 680px;
    background: #4475F2;
    box-shadow: 0px 20px 35px rgba(65, 90, 152, 0.4);
    border-radius: 10px;
}

.play .icon {
    position: absolute;
    height: 85px;
    width: 85px;
    left: 348px;
    top: 681px;
    border-radius: 0px;
}

.play .text {
    position: absolute;
    height: 21px;
    width: 98px;
    left: 430px;
    top: 699px;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: #686D77;
}

.partner-logo .partner1 {
    position: absolute;
    height: 144.9021453857422px;
    width: 144.9021453857422px;
    left: 125px;
    top: 876.833984375px;
}

.partner-logo .partner2 {
    position: absolute;
    height: 122.60950469970703px;
    width: 192.67208862304688px;
    left: 355.728515625px;
    top: 889.09521484375px;
    mix-blend-mode: luminosity;
}

.partner-logo .partner3 {
    position: absolute;
    height: 35.66822052001953px;
    width: 180.5703582763672px;
    left: 925.3056640625px;
    top: 933.68017578125px;
    mix-blend-mode: luminosity;
}

.partner-logo .partner4 {
    position: absolute;
    width: 104.78px;
    height: 23.41px;
    left: 1216.22px;
    top: 938.14px;
    mix-blend-mode: luminosity;
}

.partner-logo .shadow {
    position: absolute;
    height: 95.85833740234375px;
    width: 268.62628173828125px;
    left: 604.2919921875px;
    top: 905.814453125px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
}

.partner-logo .partner5 {
    position: absolute;
    height: 180.5703582763672px;
    width: 180.5703582763672px;
    left: 648.876953125px;
    top: 859px;
    border-radius: 0px;

}

.destination {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
}

.destination .view-all-btn .text {
    position: absolute;
    width: 114.7px;
    height: 71px;
    right: 125.92px;
    top: 1210px;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: #4475F2;
    mix-blend-mode: normal;
}

.destination .view-all-btn .icon {
    position: absolute;
    height: 12px;
    width: 6px;
    left: 1313.732421875px;
    top: 1240.904296875px;  
}

.destination .favorite {
    position: absolute;
    width: 220px;
    height: 27px;
    left: 122px;
    top: 1193px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.095em;
    color: #4475F2;
}

.destination .heading_favorite {
    position: absolute;
    width: 784px;
    height: 54px;
    right: 534px;
    top: 1233px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: -0.01em;
    color: #14183E;
    mix-blend-mode: normal;
}

.destination .places .bromo .image{
    position: absolute;
    height: 392.36492919921875px;
    width: 279.52886962890625px;
    left: 1038.4716796875px;
    top: 1333.2734375px;
    border-radius: 8px;
    background: url(Bromo.png)
}

.destination .places .bromo .text-background {
    position: absolute;
    width: 149.94px;
    height: 76.18px;
    right: 251.59px;
    top: 1649.86px;
    border-radius: 0px 6px 0px 0px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
}

.destination .places .bromo .text1 {
    position: absolute;
    width: 94.25px;
    height: 59.09px;
    right: 279.01px;
    top: 1648.65px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #042521;
    mix-blend-mode: normal;
}

.destination .places .bromo .text2 {
    position: absolute;
    width: 94.25px;
    height: 59.09px;
    right: 279.01px;
    top: 1669.65px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #80918E;
    mix-blend-mode: normal;
}

.destination .places .kawah .image{
    position: absolute;
    width: 278.46px;
    height: 392.36px;
    right: 428.2px;
    top: 1333.27px;
    
    background: #C4C4C4;
    border-radius: 8px;
    background: url("Kawah\ Ijen.png")
}

.destination .places .kawah .text-background {
    position: absolute;
    width: 149.37px;
    height: 76.18px;
    right: 557.3px;
    top: 1650.94px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 0px 6px 0px 0px;
}

.destination .places .kawah .text1 {
    position: absolute;
    width: 90.69px;
    height: 59.09px;
    right: 593.1px;
    top: 1648.65px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #042521;
    mix-blend-mode: normal;
}

.destination .places .kawah .text2 {
    position: absolute;
    width: 90.69px;
    height: 59.09px;
    right: 593.1px;
    top: 1669.65px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #80918E;
    mix-blend-mode: normal;
}

.destination .places .labuan .image{
    position: absolute;
    width: 278.46px;
    height: 392.36px;
    right: 734.4px;
    top: 1333.27px;

    background: #C4C4C4;
    border-radius: 8px;
    background: url("Labuan.png")
}

.destination .places .labuan .text-background {
    position: absolute;
    width: 149.37px;
    height: 76.18px;
    right: 863.5px;
    top: 1649.86px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 0px 6px 0px 0px;
}

.destination .places .labuan .text1 {
    position: absolute;
    width: 106.69px;
    height: 45.71px;
    right: 883.77px;
    top: 1656.27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #042521;
    mix-blend-mode: normal;
}

.destination .places .labuan .text2 {
    position: absolute;
    width: 106.69px;
    height: 45.71px;
    right: 883.77px;
    top: 1677.27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #80918E;
    mix-blend-mode: normal;
}

.destination .places .raja .image{
    position: absolute;
    width: 278.46px;
    height: 392.36px;
    right: 1039.54px;
    top: 1333.27px;

    background: #C4C4C4;
    border-radius: 8px;
    background: url("Raja.png")
}

.destination .places .raja .text-background {
    position: absolute;
    width: 149.37px;
    height: 76.18px;
    right: 1168.63px;
    top: 1649.86px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 0px 6px 0px 0px;
}

.destination .places .raja .text1 {
    position: absolute;
    width: 104.56px;
    height: 59.09px;
    right: 1194.24px;
    top: 1648.65px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #042521;
    mix-blend-mode: normal;
}

.destination .places .raja .text2 {
    position: absolute;
    width: 104.56px;
    height: 59.09px;
    right: 1194.24px;
    top: 1669.65px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #80918E;
    mix-blend-mode: normal;
}

.reservation .reservation_progress {
    position: absolute;
    width: 220px;
    height: 27px;
    left: 118px;
    top: 1879px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.095em;
    color: #4475F2;
}

.reservation .heading_reservation {
    position: absolute;
    width: 548.61px;
    height: 139.57px;
    left: 118px;
    top: 1915.09px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 63px;
    color: #14183E;
}

.reservation .reserve_pic {
    position: absolute;
    width: 639.7px;
    height: 776.79px;
    left: 709.3px;
    top: 1765.4px;
}

.reservation .value1 .step1 {
    position: absolute;
    width: 50.46px;
    height: 51.53px;
    left: 118px;
    top: 2092.24px;
}

.reservation .value1 .step2 {
    position: absolute;
    width: 258px;
    height: 21px;
    left: 191px;
    top: 2088px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 124.5%;
    color: #5E6282;
}

.reservation .value1 .step3 {
    position: absolute;
    width: 351.07px;
    height: 42.94px;
    left: 191.01px;
    top: 2113.71px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
    color: #5E6282;
}

.reservation .value2 .step1 {
    position: absolute;
    width: 50.46px;
    height: 51.53px;
    left: 118px;
    top: 2212.48px;
}

.reservation .value2 .step2 {
    position: absolute;
    width: 312px;
    height: 22px;
    left: 191px;
    top: 2208px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 124.5%;
    color: #5E6282;
}

.reservation .value2 .step3 {
    position: absolute;
    width: 351.07px;
    height: 42.94px;
    left: 191.01px;
    top: 2233.95px;  
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
    color: #5E6282;
}

.reservation .value3 .step1 {
    position: absolute;
    width: 50.46px;
    height: 51.53px;
    left: 118px;
    top: 2332.72px;
}

.reservation .value3 .step2 {
    position: absolute;
    width: 272.7px;
    height: 21.47px;
    left: 191.01px;
    top: 2328.43px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 124.5%;
    color: #5E6282;
}

.reservation .value3 .step3 {
    position: absolute;
    width: 351.07px;
    height: 42.94px;
    left: 191.01px;
    top: 2355.27px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
    color: #5E6282;

}

.map .map-subheading {
    position: absolute;
    width: 220.37px;
    height: 27px;
    left: 612.82px;
    top: 2568px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;

    text-align: center;
    letter-spacing: 0.095em;

    color: #4737FF;
}

.map .heading_map {
    position: absolute;
    height: 62px;
    left: 17.17%;
    right: 17.21%;
    top: 2614px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: -1px;
    color: #151D21;
}

.map .desc {
    position: absolute;
    width: 820px;
    height: 64px;
    left: 281.27px;
    top: 2694px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #18191F;
}

.map .world_map {
    position: absolute;
    height: 405px;
    left: 8.47%;
    right: 8.47%;
    top: 2803px;
    border-radius: 8px;
}

.map .feature1 {
    height: 88px;
    width: 360px;
}

.map .feature1 .feature1_icon {
    position: absolute;
    height: 48px;
    left: 8.47%;
    right: 88.1%;
    top: 3265px;

    background: url(feature1.png);
}

.map .feature1 .feature1_content {
    position: absolute;
    height: 30px;
    left: 13.04%;
    right: 71.53%;
    top: 3263px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.55px;
    color: #18214D;
}

.map .feature1 .feature1_desc {
    position: absolute;
    height: 52px;
    left: 13.04%;
    right: 66.53%;
    top: 3299px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #3E4462;
}

.map .feature2 .feature2_icon {
    position: absolute;
    height: 48px;
    left: 37.63%;
    right: 58.94%;
    top: 3265px;
    background: url(feature2.png);
}

.map .feature2 .feature2_content {
    position: absolute;
    height: 30px;
    left: 42.21%;
    right: 42.44%;
    top: 3263px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.55px;
    color: #18214D;
}

.map .feature2 .feature2_desc {
    position: absolute;
    height: 52px;
    left: 42.2%;
    right: 37.37%;
    top: 3299px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #3E4462;
}

.map .feature3 .feature3_icon {
    position: absolute;
    height: 48px;
    left: 66.53%;
    right: 30.04%;
    top: 3265px;
    background: url(feature3.png);
}

.map .feature3 .feature3_content {
    position: absolute;
    height: 30px;
    left: 71.08%;
    right: 13.9%;
    top: 3263px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.55px;
    color: #18214D;
}

.map .feature3 .feature3_desc {
    position: absolute;
    height: 52px;
    left: 71.1%;
    right: 8.47%;
    top: 3299px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #3E4462;
}