body {
    position: relative;
    width: 1440px;
    height: 7557px;
    background: #FFFFFF;
}
.Navbar {
    position: fixed;
    width: 1440px;
    height: 144px;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-color: white;
}
.container-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    
    position: absolute;
    width: 1194px;
    height: 72px;
    left: 123px;
    top: 0px;

}
.seperator {
    position: absolute;
    width: 1440px;
    height: 0px;
    left: 0px;
    top: 77px;
    border: 1px solid #DFDFE0;
}
.logo {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 119px;
    height: 28px;
    left: 0px;
    top: 22px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo-img {
    position: absolute;
    height: 28px;
    width: 28px;
    left: 0;
    top: 0px;
    background: url("icon-512 2.png");
    transform: matrix(-1, 0, 0, 1, 0, 0);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo-content {
    position: absolute;
    height: 23px;
    width: 91px;
    left: 37px;
    top: 2.5px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.searchBox {
    position: absolute;
    left: 159px;
    top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 22px;
    gap: 10px;

    width: 530px;
    height: 48px;

    /* Light/Neutral Secondary */

    background: #F0F1F2;
    border-radius: 30px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}

.searchIcon {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 22px;
    top: 16px;
    background: url("search-normal.png");
}

.searchText {
    position: absolute;
    letter-spacing: 0em;
    height: 15px;
    width: 120px;
    left: 48px;
    top: 16.5px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #9A9EA6;
}

.language {
    position: absolute;
    height: 20px;
    width: 167px;
    left: 729px;
    top: 26px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;    
}

.language-icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: url("language.png");
}

.language-box {
    position: absolute;
    height: 18px;
    width: 119px;
    left: 26px;
    top: 1px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    /* Light/Text */
    
    color: #9A9EA6;

}

.language-choose-arrow {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 151px;
    top: 2px;
    border-radius: 0px;

    background: url(arrow.png);
}

.location {
    position: absolute;
    height: 48px;
    width: 258px;
    left: 936px;
    top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

}

.location-btn {
    position: absolute;
    height: 48px;
    width: 48px;
    left: 0px;
    top: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* Light/Secondary */

    background: #E3EBFD;
    border-radius: 30px;

}

.location-btn-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 14px;
    top: 14px;
    border-radius: 0px;

    background: url("location.png");
}

.location-text {
    position: absolute;
    height: 37px;
    width: 198px;
    left: 60px;
    top: 5.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
}

.location-text .text-1 {
    height: 15px;
    width: 37px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #9A9EA6;
}

.location-text .text-2 {
    position: absolute;
    height: 20px;
    width: 198px;
    left: 0px;
    top: 17px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
}

.location-text .text-2 .text {
    width: 174px;
    height: 20px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #4475F2;

}

.location-text .text-2 .icon {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 178px;
    top: 0px;
    border-radius: 0px;

    background: url(arrow_blue.png);
}

.container-2 {
    position: absolute;
    height: 66px;
    width: 1196px;
    left: 122px;
    top: 78px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.categories {
    position: absolute;
    height: 18px;
    width: 1092px;
    left: 0px;
    top: 24px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: #9A9EA6;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}

.categories .Item1 {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 77px;
    height: 18px;   
}

.categories .Icon1 {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 61px;
    top: 1px;
    border-radius: 0px;
    
    background: url(arrow-down.png);
}

.categories .Item2 {
    position: absolute;
    height: 18px;
    width: 65px;
    left: 117px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
}

.categories .Icon2 {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 49px;
    top: 1px;
    border-radius: 0px;

    background: url(arrow-down.png);
}

.categories .Item3 {
    position: absolute;
    height: 18px;
    width: 69px;
    left: 222px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
}

.categories .Icon3 {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 53px;
    top: 1px;
    border-radius: 0px;
    
    background: url(arrow-down.png);
}
.categories .Item4 {
    position: absolute;
    height: 18px;
    width: 86px;
    left: 331px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
}

.categories .Icon4 {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 70px;
    top: 1px;
    border-radius: 0px;    
    background: url(arrow-down.png);
}

.categories .Item5 {
    position: absolute;
    height: 18px;
    width: 74px;
    left: 457px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
}

.categories .Icon5 {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 58px;
    top: 1px;
    border-radius: 0px;
    background: url(arrow-down.png);
}

.categories .Item6 {
    position: absolute;
    height: 18px;
    width: 76px;
    left: 571px;
    top: 0px;
    border-radius: 0px;    
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
}

.categories .Icon6 {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 60px;
    top: 1px;
    border-radius: 0px;
    background: url(arrow-down.png);
}

.categories .Item7 {
    position: absolute;
    height: 18px;
    width: 87px;
    left: 687px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
}

.categories .Icon7 {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 71px;
    top: 1px;
    border-radius: 0px;
    background: url(arrow-down.png);
}

.categories .Item8 {
    position: absolute;
    height: 18px;
    width: 58px;
    left: 814px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
}

.categories .Icon8 {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 42px;
    top: 1px;
    border-radius: 0px;
    background: url(arrow-down.png);
}

.categories-btn {
    position: absolute;
    height: 48px;
    width: 104px;
    left: 1092px;
    top: 9px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.categories-btn .cart {
    height: 48px;
    width: 48px;
    left: 0px;
    top: 0px;
    border-radius: 30px;
    
    background: url(Cart.png);
}

.categories-btn .profile {
    position: absolute;
    height: 48px;
    width: 48px;
    left: 56px;
    top: 0px;
    border-radius: 30px;

    background: url(profile.png);

}

.hero img {
    position: absolute;
    height: 707px;
    width: 693px;
    left: 718px;
    top: 182px;
    border-radius: 0px;

}

.main-desc {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
}
.main-desc .heading {
    position: absolute;
    height: 267px;
    width: 658px;
    left: 127px;
    top: 259px;
    font-weight: 800;
    font-size: 76px;
    line-height: 89px;
    letter-spacing: -0.04em;
    color: #181E4B;
}

.main-desc .heading strong {
    color: #4475F2;
}

.main-desc p {
    position: absolute;
    height: 90px;
    width: 477px;
    left: 125px;
    top: 556px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
}

.main-desc .tagline {
    position: absolute;
    height: 18px;
    width: 252px;
    left: 147px;
    top: 219px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #4F7DF3;
}

.main-desc .rectangle {
    position: absolute;
    height: 36px;
    width: 299px;
    left: 125px;
    top: 211px;
    border-radius: 39px;
    background-color: #E5EDFF;
}

.cta .text {
    position: absolute;
    height: 20px;
    width: 163.05882263183594px;
    left: 142px;
    top: 700px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.cta .background {
    position: absolute;
    width: 198px;
    height: 60px;
    left: 125px;
    top: 680px;
    background: #4475F2;
    box-shadow: 0px 20px 35px rgba(65, 90, 152, 0.4);
    border-radius: 10px;
}

.play .icon {
    position: absolute;
    height: 85px;
    width: 85px;
    left: 348px;
    top: 681px;
    border-radius: 0px;
}

.play .text {
    position: absolute;
    height: 21px;
    width: 98px;
    left: 430px;
    top: 699px;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: #686D77;
}

.partner-logo .partner1 {
    position: absolute;
    height: 144.9021453857422px;
    width: 144.9021453857422px;
    left: 125px;
    top: 876.833984375px;
}

.partner-logo .partner2 {
    position: absolute;
    height: 122.60950469970703px;
    width: 192.67208862304688px;
    left: 355.728515625px;
    top: 889.09521484375px;
    mix-blend-mode: luminosity;
}

.partner-logo .partner3 {
    position: absolute;
    height: 35.66822052001953px;
    width: 180.5703582763672px;
    left: 925.3056640625px;
    top: 933.68017578125px;
    mix-blend-mode: luminosity;
}

.partner-logo .partner4 {
    position: absolute;
    width: 104.78px;
    height: 23.41px;
    left: 1216.22px;
    top: 938.14px;
    mix-blend-mode: luminosity;
}

.partner-logo .shadow {
    position: absolute;
    height: 95.85833740234375px;
    width: 268.62628173828125px;
    left: 604.2919921875px;
    top: 905.814453125px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
}

.partner-logo .partner5 {
    position: absolute;
    height: 180.5703582763672px;
    width: 180.5703582763672px;
    left: 648.876953125px;
    top: 859px;
    border-radius: 0px;

}